<div class="contact-page">
    <div >
            
          
        <div class="contact-page-text " >
        <h1>Come contattarmi</h1>
        <h2 class="contact_info">&#200; molto semplice! Usa le icone  per contattarmi sui social o su whatsapp.</h2>
        
        <!--i class="whatsappimg" href="https://wa.me/3518107751">
            <img  src="../../../assets/images/whatsapp.png"  alt=""/>
        </i -->

   <ul class="iconnav">
    <li class="iconnav-item">
        <a class="iconnav-link" href="https://wa.me/3518107751" target="_blank">
            <img  src="../../../assets/images/whatsapp.png"  alt=""/>
        </a>
    </li>
    <li class="iconnav-item">
        <a class="iconnav-link" href="https://www.facebook.com/nicolascuozzofotografo/" target="_blank">
            <img  src="../../../assets/images/facebook.png"  alt=""/>
        </a>
    </li>
    <li class="iconnav-item-mobile">
        <a class="iconnav-link" href="https://www.instagram.com/nicolascuozzofotografo/" target="_blank">
            <img  src="../../../assets/images/Instagram-Logo-PNG.png"  alt=""/>
        </a>
    </li>
    <li class="iconnav-item-mobile">
        <a class="iconnav-link" href="https://www.instagram.com/nicolascuozzofood/" target="_blank">
            <img  src="../../../assets/images/Instagram-Logo-PNG.png"  alt=""/>
        </a>
    </li>
    
                    <li class="iconnav-item" style="margin-top: 50px;
                    max-width: 280px;">
                        <i style="color:white; ">

                            mail: info@nicolascuozzofotografo.com
                           
                        </i>
                        <i style="color:white; ">

                            cellulare: 351 - 8107751
                           
                        </i>
                    </li>
                </ul>

            </div>

            <div  class="iframe">
                <iframe style="margin-top:25%;" width="320" height="460" src="https://www.instagram.com/p/CgW11eWK6zH/embed" frameborder="0"></iframe>
                <iframe style="margin-top:25%; margin-left: 3%;" width="320" height="460" src="https://www.instagram.com/p/CiLMwwUqpxx/embed" frameborder="0"></iframe>
               
            </div>
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3014.810532584365!2d14.4207!3d40.9199!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bae80fadd6595%3A0x1c09e1230b0ea9c0!2s80031%20Brusciano%20NA!5e0!3m2!1sit!2sit!4v1662643131302!5m2!1sit!2sit" width="500" height="400"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        
        
        

        
           
        

    
        
            

        
   
</div>

</div>


 
      
        
       
    
