<!--
<footer>
    <div class="p-grid footer-wrapper">
        
        <div class="p-col-4 social">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/nicolascuozzofotografo/" target="_blank"><i class="pi pi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wa.me/3518107751" target="_blank"><i class="pi pi-whatsapp"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/nicolascuozzofotografo/" target="_blank"><i class="pi pi-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/nicolascuozzofood/" target="_blank"><i class="pi pi-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="p-col-8" style="color:white; float:right">&copy; Davide D'Ortona e Alessandro Tarantino 2022</div>
    </div>
</footer>
-->
<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="z-index:55">
                <div class="contact-content text-center">

                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href="https://www.facebook.com/nicolascuozzofotografo/" target="_blank">
                                <img src="assets/images/Facebook_Logo_PNG.PNG" style="width: 40px;height:40px;border: none;" alt="logo-facebook"></a>
                            </li>
                            <li><a class="hover-target" href="https://www.instagram.com/nicolascuozzofotografo/" target="_blank">
                                <img src="assets/images/Instagram-Logo-PNG.PNG" style="width: 40px;height:40px;border: none;" alt="logo-instagram" title="Nicolascuozzofotografo"></a>
                            </li>
                            <li><a class="hover-target" href="https://www.instagram.com/nicolascuozzofood/" target="_blank" >
                                <img src="assets/images/Instagram-Logo-PNG.PNG" style="width: 40px;height:40px;border: none;" alt="logo-instagram" title="Nicolascuozzofood"></a>
                            </li>
                            <li><a class="hover-target" href="https://wa.me/3518107751" target="_blank" >
                                <img src="/assets/images/whatsapp.PNG" style="width: 40px;height:40px;border: none;" alt="logo-whatsapp"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <p>Copyright &copy; 2022  All Rights Reserved. Nicolas Cuozzo<br>Developed by <a>AD Easy Solutions</a></p>
</footer>