<div class="admin-page">
    <p-card header="Dashboard" subheader="Qui puoi visualizzare i tuoi aggiornamenti">
        <div class="grid">
            <div class="col-3">
                <p-card styleClass="d-orders">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-bookmark"></i><br />
                            <span class="name">Copertine</span>
                        </div>
                            <span class="number">{{ statistics[0] }}</span>    
                            
                    </div>
                </p-card>
            </div>

            <div class="col-3">
                <p-card styleClass="d-products">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-tags"></i><br />
                            <span class="name">Categorie</span>
                        </div>
                            <span class="number">{{ statistics[1] }}</span>    
                            
                    </div>
                </p-card>
            </div>

            <div class="col-3">
                <p-card styleClass="d-users">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-book"></i><br />
                            <span class="name">Eventi</span>
                        </div>
                            <span class="number">{{ statistics[2] }}</span>    
                            
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-users">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-users"></i><br />
                            <span class="name">Visite</span>
                        </div>
                            <span class="number">{{ statistics[3] }}</span>    
                            
                    </div>
                </p-card>
            </div>

            <!-- div class="col-3">
                <p-card styleClass="d-totalsales">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-users"></i><br />
                            <span class="name">Visitatori unici</span>
                        </div>
                            <span class="number">0</span>    
                            
                    </div>
                </p-card>
            </div -->
        </div>
    </p-card>
</div>