<header>
    <div>
        <a href="">
        <div >
            <div class="logo_desktop">
                <img src="../../../assets/images/LOGONICOBIANCO.png" alt=""/>
            </div>
            <div class="logo_mobile">
                <img src="../../../assets/images/logobianco.png" alt=""/>
            </div>
        </div>
    </a>
        <!-- div class="col-3">
            <h2 class="title">Nicolas Cuozzo</h2>
        </div -->

        <!--div class="col-3 offset-5 navigation" style="max-height:40px;">
            <ncf-ncfsite-nav></ncf-ncfsite-nav>
        </div-->


    </div>

    
</header>


