<!-- div class="category-background" *ngIf="homepage === 'false'">
    <div class="category-item">
        <div class="category-item-wrapper" >
            
            <div class="text_container">
                <h4 class="name">{{category?.name}}</h4>
            <h5 class="description" [innerHTML]="category?.description"> 
    
            </h5>
            
            <p-button
            styleClass="button_l"
            >
            VEDI TUTTE LE FOTO 
           
            
        </p-button>
            
            
            </div>
            
            
        </div>
    
    
    
    </div>
</div -->
