<div class="terms">
    <div>
        <div class="header">
        <h1 class="header-title">
            Termini & Condizioni
        </h1>
        <h5 class="header-sentence">
            Le diamo il benvenuto su NicolasCuozzoFotografo!
        </h5>
        </div>
        <div class="body" style="height:200px;">
            
            <h5 class="body-sentence" style="padding-top:3%;">I termini e le condizioni seguenti indicano regole e normative per l'utilizzo del sito di NicolasCuozzoFotografo, all'indirizzo nicolascuozzofotografo.com.
                Accedendo a questo sito, Lei accetta i termini e le condizioni seguenti. Le chiediamo di non continuare ad usare NicolasCuozzoFotografo nel caso in cui non fosse d'accordo con tutti i termini e le condizioni in questa pagina.
             </h5>
        </div>

    </div>

    <div>
        <div class="header">
            <h2 class="header-title" style="padding-top:50px;">
                Licenza
            </h2>
            
        </div>
        <div class="body">
            
            <h5 class="body-sentence" style="padding-top:20px;">
A meno che indicato altrimenti, NicolasCuozzoFotografo e/o gli affiliati con licenza detengono i diritti di proprietà intellettuale per tutto il materiale su NicolasCuozzoFotografo. Tutti i diritti di proprietà intellettuale sono riservati. Può accedervi tramite NicolasCuozzoFotografo per uso personale soggetto a restrizioni indicate nei termini e nelle condizioni seguenti.
Non è consentito:</h5>

    <li class="body-sentence">Copiare o ripubblicare il materiale di NicolasCuozzoFotografo</li>
    <li class="body-sentence">Vendere, noleggiare o fornire in sub-licenza il materiale di NicolasCuozzoFotografo</li>
    <li class="body-sentence">Riprodurre, duplicare o copiare il materiale di NicolasCuozzoFotografo</li>
    <li class="body-sentence">Ridistribuire contenuti di NicolasCuozzoFotografo</li>

    <h5 class="body-sentence">Il presente accordo ha inizio dalla data del primo accesso al sito.
        Parti di questo sito offrono all'utente la possibilità di pubblicare e scambiare opinioni e informazioni in certe aree del sito. 
        
        Lei garantisce che:
        * È autorizzato a pubblicare commenti sul sito e ha tutte le licenze e i permessi necessari per tale azione;
        
        Non è consentito uso di logo o immagini di NicolasCuozzoFotografo per collegamenti in caso di mancanza di un accordo di licenza commerciale.
        
        
                    </h5>

           
        </div>
    </div>

    <div >
        <div class="header">
            <h2 class="header-title" style="padding-top:50px;">
                Responsabilità sui contenuti
            </h2>
            
        </div>
        <div class="body" style="height:200px;">
            
            <h5 class="body-sentence" style="padding-top:20px;">
                Non possiamo essere ritenuti responsabili per i contenuti presenti sul Suo sito. Accetta di proteggerci e difenderci da qualsiasi azione legale proveniente dal Suo sito. Non devono essere aggiunti collegamenti sul Suo sito che potrebbero essere interpretati come calunniosi, osceni, criminali o che infrangono, violano o suggeriscono la violazione di diritti di terzi.

                </h5>

           
        </div>
    </div>

    <div>
        <div class="header">
            <h2 class="header-title" style="padding-top:50px;">
                Diritti riservati
            </h2>
            
        </div>
        <div class="body" style="height:200px;">
            
            <h5 class="body-sentence" style="padding-top:20px;">
                Ci riserviamo il diritto di richiedere la rimozione di tutti i collegamenti o di un collegamento specifico al nostro sito. Deve approvare immediatamente la richiesta di rimozione dei collegamenti. Ci riserviamo il diritto di modificare termini e condizioni, oltre che politica di collegamento in qualsiasi momento. Continuando a usare il nostro sito, accetta di essere vincolato dai presenti termini e condizioni.
            </h5>
        </div>
    </div>

    <div>
        <div class="header">
            <h2 class="header-title" style="padding-top:50px;">
                Rimozione di collegamenti dal nostro sito
            </h2>
            
        </div>
        <div class="body" style="height:200px;">
            
            <h5 class="body-sentence" style="padding-top:20px;">
                Nel caso in cui un collegamento sul nostro sito sia offensivo per qualsiasi motivo, può contattarci e informarci in qualsiasi momento. Considereremo le richieste di rimozione dei collegamenti, tuttavia non siamo obbligati a completare la rimozione o rispondere direttamente.
                Non garantiamo l'accuratezza delle informazioni presenti sul sito. Non garantiamo che le informazioni siano complete o precise, né promettiamo di assicurare che il sito resti disponibile o che il materiale sul sito venga costantemente aggiornato.</h5>

        </div>
    </div>
    <!-- -->

    <div>
        <div class="header">
            <h2 class="header-title" style="padding-top:50px;">
                Esclusione di responsabilità
            </h2>
            
        </div>
        <div class="body">
            
            <h5 class="body-sentence" style="padding-top:20px;">
                Nella misura massima consentita dalla legge, escludiamo ogni rappresentanza, garanzia e condizione correlata al nostro sito e all'uso dello stesso. Niente in questa esclusione di responsabilità:</h5>

    <li class="body-sentence">limita o esclude la nostra o la Sua responsabilità per decesso o lesioni personali;</li>
    <li class="body-sentence">limita o esclude la nostra o la Sua responsabilità per frode o rappresentazione errata fraudolenta;</li>
    <li class="body-sentence">limita la nostra o la Sua responsabilità in modo non consentito dalla legge;</li>
    <li class="body-sentence">esclude la nostra o la Sua responsabilità in modo non escludibile dalla legge.</li>

    <h5 class="body-sentence">
        
        Le limitazioni e i divieti di responsabilità indicati in questa sezione e in altre parti di questa esclusione di responsabilità: (a) sono soggetti al paragrafo precedente; (b) governano tutte le responsabilità correlate a questa esclusione di responsabilità, incluse quelle correlate a contratto, torto o violazione di obblighi normativi.
Se sito, informazioni e servizi vengono forniti gratuitamente, non possiamo essere ritenuti responsabili per perdite o danni di qualsiasi natura.
                    </h5>

           
        </div>
    </div>


    

    

    
</div>
