<!-- div class="ncf-fe-sidebar">
    <div class="logo">
        <img src="/assets/images/LOGONICO.png"/>
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/homepage"><i class="pi pi-home"></i>HOMEPAGE</a>
            </li>
            <li>
                <a routerLink="/events"><i class="pi pi-list"></i>EVENTI</a>
            </li>
            <li>
                <a routerLink="/contacts"><i class="pi pi-list"></i>CONTATTACI</a>
            </li>
            
            
           
        </ul>
    </div>
</div -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
<div class="s-layout"  >
<!-- Sidebar -->
<!--
<div class="s-layout__sidebar" style="z-index: 30;">
  <a class="s-sidebar__trigger" >
     <i class="fa fa-bars"></i>
  </a>

  <nav class="s-sidebar__nav">
     <ul>
        <li>
           <a class="s-sidebar__nav-link"  routerLink="">
              <i class="fa fa-home"></i><em>Home</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link"  routerLink="/events">
             <i class="fa fa-camera"></i><em>Eventi</em>
           </a>
        </li>
        <li>
           <a class="s-sidebar__nav-link" routerLink="/homepage">
              <i class="fa fa-user"></i><em>Contattaci</em>
           </a>
        </li>
     </ul>
  </nav>
</div>
-->

<nav role='navigation'>
   <div id="menuToggle">
     <!--
     A fake / hidden checkbox is used as click reciever,
     so you can use the :checked selector on it.
     -->
     <input type="checkbox" />
     
     <!--
     Some spans to act as a hamburger.
     
     They are acting like a real hamburger,
     not that McDonalds stuff.
     -->
     <span></span>
     <span></span>
     <span></span>
     
     <!--
     Too bad the menu has to be inside of the button
     but hey, it's pure CSS magic.
     -->
     <ul id="menu">
       <a class="link-menu" routerLink=""><li>HOMEPAGE</li></a>
       <a class="link-menu" routerLink="/events"><li>EVENTI</li></a>
       <a class="link-menu" routerLink="/contact"><li>CONTATTAMI</li></a>
       <a class="link-menu" routerLink="/terms"><li>TERMINI E PRIVACY</li></a>
     </ul>
   </div>
 </nav>
</div>


<style>


.link-menu
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

.link-menu:hover
{
  color: #BC1B27;
}

#menuToggle
{
  display: block; 
  position: fixed;
  top: 40px;
  right: 50px;
  
  z-index: 50;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  width: 500px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  height:120vh;
  
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

</style>